{% extends "base.html" %}
{% block content %}
    <style>
    a{
        color:white;

    }
    </style>
    <br><br><br><br>
   <div class="row" >
       <div class="col-md-3" style="background:linear-gradient(45deg,#09f0b0,#18b2e5);border-radius:8px 4px; min-height: 200px;border:1px solid black;margin: 8px;text-align: center;line-height: 7;font-size: 25px"><a href="/dashboard">Dashboard</a></div>
       <div class="col-md-3"  style="background:linear-gradient(45deg,#09f0b0,#18b2e5);border-radius:8px 4px;min-height: 200px;border:1px solid black;margin: 8px;text-align: center;line-height: 7;font-size: 25px"><a href="/contactmgt">Contact Management</a></div>
       <div class="col-md-3"  style="background:linear-gradient(45deg,#09f0b0,#18b2e5);border-radius:8px 4px;min-height: 200px;border:1px solid black; margin: 8px;text-align: center;line-height: 7;font-size: 25px"><a href="/ordermgmt">Order Management</a></div>
       <div class="col-md-2"  style="background:linear-gradient(45deg,#09f0b0,#18b2e5);border-radius:8px 4px;min-height: 200px;border:1px solid black;margin: 8px;text-align: center;line-height: 7;font-size: 25px"><a href="/addprod">Add Products</a></div>
   </div><br>
    <div class="row">
        <div class="col-md-3" style="background:linear-gradient(45deg,#09f0b0,#18b2e5);border-radius:8px 4px;min-height: 200px;border:1px solid black;margin: 8px;text-align: center;line-height: 7;font-size: 25px"><a href="/productmgmt">Products Management</a></div>
        <div class="col-md-3"  style="background:linear-gradient(45deg,#09f0b0,#18b2e5);border-radius:8px 4px;min-height: 200px;border:1px solid black;margin: 8px;text-align: center;line-height: 7;font-size: 25px"><a href="/changepass">Change Password</a></div>
        <div class="col-md-3"  style="background:linear-gradient(45deg,#09f0b0,#18b2e5);border-radius:8px 4px;min-height: 200px;border:1px solid black;margin: 8px;text-align: center;line-height: 7;font-size: 25px"><a href="/Alogout">Logout</a></div>

   </div>
{% endblock %}